.flat-button {
    -fx-padding: 5px 5px;
    -fx-font-size: 12px;
    -fx-font-color: #fff; /* Text color */
    -fx-color: #585858; /* Text color */
    -fx-border-radius: 100;
  }

.flat-button:hover {
  -fx-background-color: #272727; /* Background color on hover */
  -fx-font-color: #fff; /* Text color */
}

.root{
    -fx-background-color: #d7d4d4;
}
.frameGroup{
    -fx-background-color: #7e3f3f;
}
.frameArea{
    -fx-background-color: #1a6c95b7
}
.stackPane{
    -fx-background-color: #2f9f7f;
}
.frameBack{
    -fx-background-color: #d7d4d4;
}

.FLAPoint2D{
    -fx-background-color: #d7d4d4;
}

.FLAPoint2D:hover{
    -fx-background-color: #a1a9828c
}



/* Define a flat style for the toolbar */
.toolbar {
    -fx-background-color: #f0f0f0; /* Light gray background */
    -fx-alignment: center; /* Center align the toolbar items */
}

/* Define the style for toolbar buttons */
.tool-bar .button {
    -fx-background-color: transparent; /* Transparent background */
    -fx-text-fill: #333333; 
    -fx-font-size: 14px;
    -fx-min-width: 100px;
    -fx-max-width: 100px;
    

}

/* Define hover effect for toolbar buttons */
.tool-bar .button:hover {
    -fx-background-color: #e0e0e0; /* Light gray background on hover */
}

/* Define pressed effect for toolbar buttons */
.tool-bar .button:pressed {
    -fx-background-color: #cccccc; /* Slightly darker background when pressed */
}
