.flat-button {
    -fx-padding: 5px 5px;
    -fx-font-size: 12px;
    -fx-font-color: #fff; /* Text color */
    -fx-color: #585858; /* Text color */
    -fx-border: none; /* Border color */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-text-decoration: none;
  }
  .flat-button:hover {
    -fx-background-color: #272727; /* Background color on hover */
    -fx-font-color: #fff; /* Text color */
  }
  
.root{
    -fx-background-color: #d7d4d4;
}
.vbox:hover{
    -fx-background-color: #a1a9828c
}

.frameBack{
    -fx-background-color: #d7d4d4;
}